@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  display: flex;
  justify-content: center;
  height: auto;
  font-family: 'Montserrat', sans-serif;
  background-color: #525252; }

section h1 {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  font-stretch: ultra-expanded;
  margin: 15px;
  position: relative;
  display: flex;
  justify-content: center;
  width: auto;
  color: #ffffff;
  text-shadow: 2px 2px 1px black;
  z-index: 3; }

.slogan {
  font-family: 'Playfair Display', serif;
  text-shadow: 2px 2px 1px black;
  font-size: 16px;
  width: 250px;
  margin-left: 120px;
  color: #ffffff;
  position: absolute;
}

#logo {
  margin-left: 10px;
}

section h3 {
  font-family: 'Playfair Display', serif;
  color: #ffffff;
  text-shadow: 2px 2px 1px black; }

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  position: fixed;
  width: 100%;
  max-width: 1300px;
  min-width: 800px;
  box-shadow: 4px 3px 22px 6px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  z-index: 20; }

.main-wrapper {
  margin: 0 auto;
  width: auto; }

.main-menu > ul > li > a {
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  margin-right: 35px;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  text-shadow: 4px 3px 6px rgba(87, 83, 83, 0.6);
  position: relative;
  text-decoration: none;
  z-index: 20; }

.main-menu > ul > li > a::after {
  content: "";
  width: 10px;
  height: 3px;
  background: #e7d911;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 28px;
  transition-duration: 0.4s;
  opacity: 0; }

.main-menu > ul > li > a:hover:after {
  width: 100%;
  opacity: 1; }

header .main-wrapper {
  border: #000000 solid;
  background-color: #53525f;
  border-radius: 10px;
  position: relative;
  box-shadow: 4px 3px 25px 6px rgba(17, 17, 17, 0.75);
  opacity: 0.9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
  min-width: 10%;
  width: 100%; }

.bb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  height: 70px;
}

.post {
  border: #000000 solid;
  background-color: #53525f;
  border-radius: 10px;
  position: relative;
  box-shadow: 4px 3px 25px 6px rgba(17, 17, 17, 0.75);
  opacity: 0.9;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 256px;
  min-width: 256px;
  height: 100%;
  z-index: 3;
  margin-top: 0;
  margin-left: 20px;
  padding: 10px;
}

.post > h3 {
  font-size: 16px;
  margin-bottom: 10px;
  font-family: Georgia sans-serif;
}

.post > h5 {
  font-size: 12px;
  margin-bottom: 2px;
  font-family: 'Playfair Display', serif;
  color: #ffffff;
  text-shadow: 2px 2px 1px black;
}

.input-storage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 3px;
  padding: 5px;
  position: relative;
}

.input-storage > input {
  padding: 3px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 4px 3px 25px 6px rgba(17, 17, 17, 0.75);
}

.input-storage > select {
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px;
  margin: 10px;
  font-size: 18px;
  background: linear-gradient(to right,#ffc500,#e7d911,#ffee00);
  background-size: 250%;
  color: #000000;
}

#submit {
  margin: 15px;
  border: 1px solid black;
  width: 200px;
  border-radius: 8px;
  font-size: 18px;
  color: #000000;
  transition: 0.5s;
  background: linear-gradient(to right,#ffc500,#e7d911,#ffee00);
  background-size: 250%;
}

#submit:hover {
  background-position-x: 100%;
  transform: translateY(-10%);
}

#result {
  margin-top: 35px;
  border: 1px solid black;
  width: 200px;
  border-radius: 8px;
  font-size: 16px;
  color: #000000;
  transition: 0.5s;
  background: linear-gradient(to right,#ffc500,#e7d911,#ffee00);
  background-size: 250%;
}

#result:hover {
  background-position-x: 100%;
  transform: translateY(-10%);
}

.noValue {
  width: fit-content;
  height: 250px;
}

.main-board {
  position: relative;
  z-index: 3;
}

section .main-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 250px;
  width: 80%;
  z-index: 3; }

section .main-board__left-block {
  border: #000000 solid;
  background-color: #53525f;
  border-radius: 10px;
  position: relative;
  box-shadow: 4px 3px 25px 6px rgba(17, 17, 17, 0.75);
  opacity: 0.9;
  display: flex;
  align-items: center;
  align-content: space-around;
  flex-direction: column;
  width: 100%;
  height: 100%; }

section .main-board__left-block::before {
  content: "";
  width: 115px;
  height: 3px;
  position: absolute;
  background-color: #e7d911;
  border-radius: 10px;
  top: 5px;
  left: 5px; }

section .main-board__left-block::after {
  content: "";
  width: 3px;
  height: 115px;
  position: absolute;
  background-color: #e7d911;
  border-radius: 10px;
  top: 5px;
  left: 5px; }

.left__block__text {
  display: flex;
  margin: 5px;
  padding: 5px;
  width: 500px;
  min-width: 300px;
  align-content: center;
  align-items: center;
  flex-direction: column;
  border: #e7d911 3px solid;
  border-radius: 0 10px 0 10px;
}

.left__block__text > h3 {
  margin-bottom: 10px;
  font-size: 20px;
}

#name {
  margin: 3px;
  border-radius: 1px;
  font-size: 16px;
  width: 60%;
}

#phone {
  margin: 3px;
  border-radius: 2px;
  font-size: 16px;
  width: 60%;
}

section .block_board_left_block {
  border: #000000 solid;
  background-color: #53525f;
  border-radius: 10px;
  position: relative;
  box-shadow: 4px 3px 25px 6px rgba(17, 17, 17, 0.75);
  opacity: 0.9;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 256px;
  min-width: 256px;
  height: 100%;
  z-index: 3;
  padding-right: 50px;
  padding-bottom: 10px;
  overflow: hidden; }

section .block_board_left_block > h1 {
  margin: 5px; }

section .block_board_left_block > h1::before {
  content: "";
  width: 55px;
  height: 3px;
  position: absolute;
  background-color: #e7d911;
  top: 2px;
  left: 3px;
  border-radius: 10px; }

section .block_board_center_block {
  border: #000000 solid;
  background-color: #53525f;
  border-radius: 10px;
  position: relative;
  box-shadow: 4px 3px 25px 6px rgba(17, 17, 17, 0.75);
  opacity: 0.9;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 58%;
  min-width: 256px;
  height: 100%;
  text-align: center;
  padding-right: 50px;
  padding-bottom: 10px;
  z-index: 3;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden; }

section .block_board_center_block > h1 {
  margin: 7px; }

section .block_board_center_block > h1::before {
  content: "";
  width: 55px;
  height: 3px;
  position: absolute;
  background-color: #e7d911;
  top: 2px;
  left: 3px;
  border-radius: 10px; }

section .block_board_right_block {
  border: #000000 solid;
  background-color: #53525f;
  border-radius: 10px;
  position: relative;
  box-shadow: 4px 3px 25px 6px rgba(17, 17, 17, 0.75);
  opacity: 0.9;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 256px;
  min-width: 256px;
  height: 100%;
  text-align: center;
  padding-right: 50px;
  padding-bottom: 10px;
  z-index: 3;
  overflow: hidden; }

section .block_board_right_block > h1 {
  margin: 7px; }

section .block_board_right_block > h1::before {
  content: "";
  width: 55px;
  height: 3px;
  position: absolute;
  background-color: #e7d911;
  top: 2px;
  left: 3px;
  border-radius: 10px; }

section .score {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 300px;
  margin-top: -120px;
  background-color: #525252;
  z-index: 3; }

section .score-ul {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-end;
  height: 70%;
  width: 80%;
  min-width: 256px;
  padding: 5px;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  margin: 25px;
  position: relative;
  color: #ffffff;
  text-shadow: 2px 2px 1px black;
  z-index: 5;
  text-decoration: none;
  list-style-type: none; }

section .score-ul > li::before {
  content: "";
  width: 3px;
  height: 45px;
  position: absolute;
  background-color: #e7d911;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: -15px; }

footer {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  background-color: #525252;
  z-index: 5; }

.main-wrapper img {
  margin-top: 5px;
  width: auto;
  height: 80px;
  filter: brightness(113%) saturate(117%) contrast(111%);
  margin-left: 2%; }

section .block_board_left_block > img {
  display: flex;
  align-items: flex-start;
  width: auto;
  min-width: 253px;
  height: 55%;
  z-index: 2;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 2px solid black;
  margin: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0.8; }

section .block_board_left_block > img:hover {
  transform: scale(1.1);
  transition-duration: 2s; }

section .block_board_center_block > img {
  display: flex;
  align-items: flex-start;
  width: 110%;
  min-width: 253px;
  height: 55%;
  z-index: 2;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 2px solid black;
  margin: 0;
  padding: 0;
  opacity: 0.8; }

section .block_board_center_block > img:hover {
  transform: scale(1.1);
  transition-duration: 2s; }

section .block_board_right_block > img {
  display: flex;
  align-items: flex-start;
  width: auto;
  min-width: 253px;
  height: 55%;
  z-index: 2;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 2px solid black;
  margin: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0.8; }

section .block_board_right_block > img:hover {
  transform: scale(1.1);
  transition-duration: 2s; }

.background {
  display: flex;
  position: absolute;
  width: 100%;
  height: 882px;
  z-index: 1;
  background: url(../img/truck.jpg) 100% 100% no-repeat;
  /* Добавляем фон */
  background-size: cover;
  border-bottom: 2px solid black;
}

.background:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/rain.png);

  animation: rain 0.3s linear infinite;
}

@keyframes rain {
  0%
  {
    background-position: 0 0;
  }
  100%
  {
    background-position: 15% 100%;
  }
}

.goUp {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 100px;
  bottom: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 50px;
  background: #27ae60;
  border-radius: 10px;
  z-index: 100;
}

.footer {
  display: flex;
  flex-direction: column;
}

.map-div {
  margin:5px auto;
  align-items: center;
  width: 60%;
}

iframe {
  width: 100%;
  height: 400px;
  border: 2px solid black;
  border-radius: 20px;
}

@media (max-width: 2600px) {
  section .main-wrapper {
    width: 60%; } }
@media (max-width: 1800px) {
  section .main-wrapper {
    width: 80%; } }
@media (max-width: 1300px) {
  section .main-wrapper {
    width: 100%; } }
@media (max-width: 898px) {

  header {
    display: flex;
    flex-wrap: wrap;
    min-width: 400px;
    margin-top: 10px;
    flex-direction: column; }

  .main-menu > ul > li > a {
    flex-wrap: wrap;
    padding: 5px;
    margin: 2px; }

  header .main-wrapper {
    border: #000000 solid;
    background-color: #53525f;
    border-radius: 10px;
    position: relative;
    box-shadow: 4px 3px 25px 6px rgba(17, 17, 17, 0.75);
    opacity: 0.9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
    min-width: 10%;
    width: 100%; }

  .slogan {
    font-size: 10px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    width: 130px; }

  .main-menu > ul > li > a:hover:after {
    width: 80%;
    opacity: 1; }

  section .main-wrapper {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 250px;
    width: 100%;
    z-index: 3; }
  .post {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    width: 100%;
  }
  .post > h3 {
    font-size: 25px;
  }
  .post > h5 {
    font-size: 15px;
  }

  section .main-board__left-block {
    margin-left: 10px;
    margin-right: 10px;
  }

  section .block_board_left_block {
    margin-left: 10px;
  }

  section .block_board_right_block {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
  }

  section .block_board_right_block > img {
    width: 100%;
    height: 100px;
    transform: scale(1.2,3);
  }

  section .block_board_right_block > h1 {
    margin-top: 100px;
  }

  section .score {
    margin-top: 170px;
  }

  section .score-ul {
    width: 100%;
    margin-top: 20px;
    margin-left: 20px;
  }

  .map-div {
    width: 100%;
  }

  section .score-ul > li {
    padding: 10px;
  }


}



@media (max-width: 681px) {
  .main-menu > ul > li > a:hover:after {
    width: 80%;
    opacity: 1; }

  section .block_board_left_block {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }

  section .block_board_left_block > img {
    width: 100%;
    transform: scale(1.2,2);
  }

  section .block_board_left_block > h1 {
    margin-top: 70px;
  }

  section .block_board_center_block {
    margin-top: 20px;
    width: 100%;
  }

  section .block_board_center_block > img {
    width: 100%;
    transform: scale(1.2,2);
  }

  section .block_board_center_block > h1 {
    margin-top: 70px;
  }

  section .score {
    margin-top: 470px;
    margin-left: 10px;
  }

  iframe {
    width: 100%;
    height: 300px;

  }

}

@media (max-width: 642px) and (orientation: portrait) and (min-width: 350px) {
  section .main-board__left-block {
    height: 350px;
    min-width: 300px;
  }

  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    min-width: 300px;
  }

  body > main {
    min-width: 300px;
  }

  header {
    margin-right: 5px;
    margin-left: 5px;
    padding: 0;
    width: 100%;
    min-width: 600px;
    position: relative;
  }

  .post {
    height: 260px;
  }
  section .block_board_left_block {
    position: relative;
    margin-top: 100px;
  }

  section .score {
    margin-top: 570px;
    margin-left: 10px;
  }

  .background {
    height: 350px;
    min-width: 600px;
    margin-left: 5px;
    margin-right: 5px;
    border: 2px solid #000000;
  }

  @keyframes rain {
    0%
    {
      background-position: 0 0;
    }
    100%
    {
      background-position: 80% -200%;
    }
  }

}

@media (max-width: 350px) and (orientation: portrait) {

  header {
    width: 100%;
    max-width: 350px;
    min-width: 350px;
  }

  .main-menu > ul > li > a {
    margin-right: 20px;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    text-shadow: 4px 3px 6px rgba(87, 83, 83, 0.6);
    position: relative;
    text-decoration: none;
    z-index: 20; }

  .main-menu > ul:last-child {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5px;
  }

  .background {
    height: 350px;
    max-width: 350px;
    min-width: 350px;
    margin-left: 5px;
    margin-right: 5px;
    border: 2px solid #000000;
  }

  @keyframes rain {
    0%
    {
      background-position: 0 0;
    }
    100%
    {
      background-position: -80% -300%;
    }
  }

  section .main-board {
    max-width: 350px;
    min-width: 350px;
  }

  section .main-board__left-block {
    height: 300px;
  }

  .post > h3 {
    font-size: 22px;
    margin-bottom: 30px;
  }

  #name {
    font-size: 9px;
    height: 25px;
  }

  #phone {
    height: 25px;
    font-size: 9px;
  }

  .input-storage {
    height: 100px;
  }

  .block_board_left_block {
    max-width: 350px;
    min-width: 350px;
  }

  section .block_board_left_block {
    margin-top: 50px;
  }

  section .block_board_left_block > img {
    width: 350px;
  }

  section .block_board_left_block > img:hover {
    transform: scale(1.4,1.4);
    transition-duration: 2s;
  }

  section .block_board_center_block > img:hover {
    transform: scale(1.4,1.4);
    transition-duration: 2s;
  }

  section .block_board_right_block > img:hover {
    transform: scale(1.8,1.8);
    transition-duration: 2s;
  }


  section .block_board_center_block > img {
    width: 350px;
  }

  section .block_board_right_block > img {
    width: 350px;
  }

  .block_board_center_block {
    max-width: 350px;
    min-width: 350px;
  }

  .block_board_right_block {
    max-width: 350px;
    min-width: 350px;
  }

  section .main-board_left_block {
    max-width: 350px;
    min-width: 350px;
  }

  body {
    min-width: 300px;
    max-width: 350px;
  }

  body > main {
    min-width: 300px;
    max-width: 350px;
  }

  .left__block__text {
    width: 60%;
  }

  section h1 {
    font-size: 18px;
  }

  section .score-ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 120px;
    padding: 0;
  }

  section .score-ul > li > h3 {
    font-size: 20px;
  }

  section .score {
    height: 400px;
  }

  iframe {
    margin-top: 50px;
    width: 100%;
    height: 300px;

  }

}

/*# sourceMappingURL=style.css.map */
